<!DOCTYPE html>
<html lang="en">
  <% try { %>
    <%- include('../partials/head') %>
  <% } catch(e) { %>
    <%- include('/opt/render/project/src/views/partials/head') %>
  <% } %>
  <body>
    <div class="wrapper">
      <header>
        <% try { %>
          <%- include('../partials/header') %>
        <% } catch(e) { %>
          <%- include('/opt/render/project/src/views/partials/header') %>
        <% } %>
      </header>

      <nav>
        <% try { %>
          <%- include('../partials/nav') %>
        <% } catch(e) { %>
          <%- include('/opt/render/project/src/views/partials/nav') %>
        <% } %>
      </nav>

      <main>
        <%- body %>
      </main>

      <footer>
        <% try { %>
          <%- include('../partials/footer') %>
        <% } catch(e) { %>
          <%- include('/opt/render/project/src/views/partials/footer') %>
        <% } %>
      </footer>
    </div>
  </body>
</html>